
<!-- <div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div> -->
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a routerLink="/garbageList">Garbage List</a>
    <a routerLink="/addGarbage">Add Garbage</a>
    <a routerLink="/dataAnalysis">Analysis</a>
  </div>
</nav>
<router-outlet></router-outlet>
